name: Release Helm Chart

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Helm
      run: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

    - name: Package chart
      run: helm package mychart

    - name: Rebuild index
      run: helm repo index . --url https://idan93l.github.io/helm-mychart-repo/

    - name: Commit and push
      run: |
        git config user.email "actions@github.com"
        git config user.name "GitHub Actions"
        git add .
        git commit -m "Update chart repository" || true
        git push
